.btnCanvasOverlay {
    color: #ccc;
    background-color: #444;
    border-color: #666;
    opacity: 0.8;
}
/*.old{
	color: #333333;
    background-color: #e7e7e7;
    border-color: #cccccc;
}*/
.btnCanvasOverlay:hover {
	color: #ccc;
	background-color: #666;
	border-color: #888;
    opacity: 0.8;
}
.btnCanvasOverlay:focus {
    color: #ccc;
    background-color: #666;
	border-color: #666;
    opacity: 0.8;
}
.btnCanvasOverlay:active {
	color: #ccc;
	background-color: #666;
	border-color: #888;
    opacity: 0.8;
}

.flash {
	color: white;
    background-color: #444;
    padding: 2px;
    opacity: 0.8;
	border: 1px solid #666;
}